.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.contact-label {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
}

.contact-input {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
  height: 40px;
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  border: 1px solid var(--secondary-color);
}

.add-button {
  cursor: pointer;
  width: auto;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 10px;
  color: var(--primary-color);
  border: none;
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add-button:hover,
.add-button:focus {
  background-color: var(--btn-accent-color);
}

@media screen and (min-width: 768px) {
  .contact-form {
    width: 375px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
}
